<input type="text" [(ngModel)]="text" name="text" />
<a class="padTo" appScrollto [element]="par1">par1</a><br />
<a class="padTo" appScrollto [element]="par2">par2</a><br />
<a class="padTo" appScrollto [element]="par3">par3</a><br />
<p></p>
<p></p>
<p></p>
<h3>par 1</h3>
<span #par1>
  Testing those logic units is pretty tricky because they incur side effects,
  such as interacting with the DB or changing elements in the DOM. Mocking the
  responses is one possible solution, but what the heck is mocking? Without any
  further introduction – let’s dive in. Testing those logic units is pretty
  tricky because they incur side effects, such as interacting with the DB or
  changing elements in the DOM. Mocking the responses is one possible solution,
  but what the heck is mocking? Without any further introduction – let’s dive
  in. Testing those logic units is pretty tricky because they incur side
  effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
</span>

<h3>par 2</h3>
<span #par2>
  Testing those logic units is pretty tricky because they incur side effects,
  such as interacting with the DB or changing elements in the DOM. Mocking the
  responses is one possible solution, but what the heck is mocking? Without any
  further introduction – let’s dive in. Testing those logic units is pretty
  tricky because they incur side effects, such as interacting with the DB or
  changing elements in the DOM. Mocking the responses is one possible solution,
  but what the heck is mocking? Without any further introduction – let’s dive
  in. Testing those logic units is pretty tricky because they incur side
  effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
</span>

<h3>par 3</h3>
<span #par3>
  Testing those logic units is pretty tricky because they incur side effects,
  such as interacting with the DB or changing elements in the DOM. Mocking the
  responses is one possible solution, but what the heck is mocking? Without any
  further introduction – let’s dive in. Testing those logic units is pretty
  tricky because they incur side effects, such as interacting with the DB or
  changing elements in the DOM. Mocking the responses is one possible solution,
  but what the heck is mocking? Without any further introduction – let’s dive
  in. Testing those logic units is pretty tricky because they incur side
  effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
</span>
<p appHighlight [highlightText]="text" [(appReadTime)]="readTime">
  Testing those logic units is pretty tricky because they incur side effects,
  such as interacting with the DB or changing elements in the DOM. Mocking the
  responses is one possible solution, but what the heck is mocking? Without any
  further introduction – let’s dive in. Testing those logic units is pretty
  tricky because they incur side effects, such as interacting with the DB or
  changing elements in the DOM. Mocking the responses is one possible solution,
  but what the heck is mocking? Without any further introduction – let’s dive
  in. Testing those logic units is pretty tricky because they incur side
  effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
  Without any further introduction – let’s dive in. Testing those logic units is
  pretty tricky because they incur side effects, such as interacting with the DB
  or changing elements in the DOM. Mocking the responses is one possible
  solution, but what the heck is mocking? Without any further introduction –
  let’s dive in. Testing those logic units is pretty tricky because they incur
  side effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
  Without any further introduction – let’s dive in. Testing those logic units is
  pretty tricky because they incur side effects, such as interacting with the DB
  or changing elements in the DOM. Mocking the responses is one possible
  solution, but what the heck is mocking? Without any further introduction –
  let’s dive in. Testing those logic units is pretty tricky because they incur
  side effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
  Without any further introduction – let’s dive in. Testing those logic units is
  pretty tricky because they incur side effects, such as interacting with the DB
  or changing elements in the DOM. Mocking the responses is one possible
  solution, but what the heck is mocking? Without any further introduction –
  let’s dive in. Testing those logic units is pretty tricky because they incur
  side effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
  Without any further introduction – let’s dive in. Testing those logic units is
  pretty tricky because they incur side effects, such as interacting with the DB
  or changing elements in the DOM. Mocking the responses is one possible
  solution, but what the heck is mocking? Without any further introduction –
  let’s dive in. Testing those logic units is pretty tricky because they incur
  side effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
  Without any further introduction – let’s dive in. Testing those logic units is
  pretty tricky because they incur side effects, such as interacting with the DB
  or changing elements in the DOM. Mocking the responses is one possible
  solution, but what the heck is mocking? Without any further introduction –
  let’s dive in. Testing those logic units is pretty tricky because they incur
  side effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
  Without any further introduction – let’s dive in. Testing those logic units is
  pretty tricky because they incur side effects, such as interacting with the DB
  or changing elements in the DOM. Mocking the responses is one possible
  solution, but what the heck is mocking? Without any further introduction –
  let’s dive in. Testing those logic units is pretty tricky because they incur
  side effects, such as interacting with the DB or changing elements in the DOM.
  Mocking the responses is one possible solution, but what the heck is mocking?
  Without any further introduction – let’s dive in. Testing those logic units is
  pretty tricky because they incur side effects, such as interacting with the DB
  or changing elements in the DOM. Mocking the responses is one possible
  solution, but what the heck is mocking? Without any further introduction –
  let’s dive in.
</p>

<span>{{ readTime }} minutes read </span> <br />
